<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpb.tsi.pdm.pdmproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.edu.ifpb.tsi.pdm.pdmproject.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ifpb.tsi.pdm.pdmproject.activities.NovaTarefaActivity"
            android:label="@string/title_activity_nova_tarefa" >
        </activity>
        <activity
            android:name="br.edu.ifpb.tsi.pdm.pdmproject.activities.AtividadesActivity"
            android:label="@string/title_activity_atividades" >
        </activity>
        <activity
            android:name="br.edu.ifpb.tsi.pdm.pdmproject.activities.DisciplinasActivity"
            android:label="@string/title_activity_disciplinas" >
        </activity>
        <service android:name="br.edu.ifpb.tsi.pdm.pdmproject.service.AlarmService" android:enabled="true"></service>
        <receiver android:name="br.edu.ifpb.tsi.pdm.pdmproject.broadcast.AlarmReceiver"></receiver>
    </application>

</manifest>
